<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <plugins>
        <plugin interceptor="com.baomidou.mybatisplus.extension.plugins.MybatisPlusInterceptor">
            <!--指定分页-->
            <property name="@page" value="com.baomidou.mybatisplus.extension.plugins.inner.PaginationInnerInterceptor"/>
            <!-- 对于单一数据库类型来说,都建议配置该值,避免每次分页都去抓取数据库类型-->
            <property name="page:dbType" value="mysql"/>
        </plugin>
    </plugins>
</configuration>